.DS_Store
/.idea/.gitignore
/.idea/dan-it.iml
/.idea/vcs.xml
/.idea/modules.xml
/temp/
/homework_08/src/.vagrant/
/step_project_1/src/.vagrant/
/step_project_1/src/ssh/id_ed25519
/step_project_1/src/ssh/id_ed25519.pub
/step_project_1/src/ssh/known_hosts
/**/__pycache__
/**/.idea/
/step_project_2/src/jenkins_home/
/step_project_2/src/jenkins_worker/
/homework_19/src/.terraform
/homework_19/src/.terraform.lock.hcl
/homework_19/src/terraform.tfstate
/homework_19/src/terraform.tfstate.backup
/homework_20/src/.terraform.lock.hcl
/homework_20/src/.terraform/
